{% extends 'base.html.twig' %}

{% block content %}
	<h2>{{ groupbean.name }}</h2>

	{% if venues is not empty %}
		<ul>
			{% for venue in venues %}
				<li><a href="/venue/{{ venue.id }}">{{ venue.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
	{% endif %}
	<br>
	{% if owner %}
		<a href="/group/{{groupbean.id}}/venue/add">Add venues</a>
	{% endif %}

	<!-- maybe show people in group here at some point? -->
{% endblock %}