{% extends 'base.html.twig' %}

{% block content %}
	<h2>{{ group_name }}</h2>

	{% if venues is not empty %}
		<ul>
			{% for venue in venues %}
				<li><a href="/venue/{{ venue.id }}">{{ venue.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<a href="">Add venues</a>
	{% endif %}

{% endblock %}