<!DOCTYPE html>
<html>
  <head>
    {% include 'html/head.html.twig' %}
  </head>
  <body>
		<div class='header'>
    	<h2 class="pull-left"><a href="/">WSWE</a></h2>
    	{% if user is not empty %}
        <a href="/user/logout" class="logout pull-right">&nbsp;Logout</a>
      	<a href="/user" class="account pull-right">Account /</a>
      {% endif %}
    </div>
		{% block content %}
    {% endblock %}
  </body>
</html>
